<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="dbProvider" value="System.Data.SqlClient"/>
	</appSettings>

	<connectionStrings>
		<add name="dbConnStringTodo" connectionString="Server=localhost;Database=todo_manager;Uid=root;Pwd=sinqia123;"/>
		<add name="dbConnString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=todo_manager;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
	</connectionStrings>
</configuration>